@model AccountDeetsViewModel
@inject UserManager<UserEntity> UserManager
@{
	var user = await UserManager.GetUserAsync(User);

	ViewData["Title"] = $"Account Details for {Model.ProfileInfo!.FirstName} {Model.ProfileInfo.LastName}'s profile";
}

<div class="container">
	
	@if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
	{
		<div class="alerter">
			@TempData["StatusMessage"]
		</div>
	}

	<section id="account-deets">
		<aside>
			<div class="profile">
				<div class="profile-image">
					<img src="~/images/uploads/profiles/@user!.ProfileImage" alt="@($"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}'s profile picture.")" />
					
					<form enctype="multipart/form-data" method="post" asp-action="UploadProfileImage" asp-controller="Account">
						<input id="fileUploader" type="file" name="file" hidden />
						<label for="fileUploader" class="btn btn-circle"><i class="fa-solid fa-arrows-rotate"></i></label>
					</form>
				</div>
				<div class="profile-info">
					<h5>@($"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}")</h5>
					<p>@Model.ProfileInfo.Email</p>
				</div>
			</div>
			<nav>
				<a class="btn-theme" asp-controller="Account" asp-action="Deets"><i class="fa-solid fa-user-gear"></i>Account Details</a>
				<a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-solid fa-lock"></i>Security</a>
				<a class="btn-transparent" asp-controller="Account" asp-action="SavedCourses"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
				<a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign Out</a>
			</nav>
		</aside>

		<div class="details">

			<partial name="~/Views/Shared/_StatusMessage.cshtml" />

			<section class="basic-info">
				<form method="post" asp-controller="Account" asp-action="Deets" novalidate>
					<h2>Account Details</h2>
					<h5>Basic Info</h5>

					<div class="content">

						<div id="form-firstname" class="input-group">
							<label asp-for=BasicInfoForm!.FirstName></label>
								@if(Model.BasicInfoForm!.IsExternalAccount)
								{
									<input asp-for="BasicInfoForm!.FirstName" disabled />
								}
								else
								{
									<input asp-for="BasicInfoForm!.FirstName" />
								<span asp-validation-for="BasicInfoForm!.FirstName"></span>
								}
						</div>

						<div id="form-lastname" class="input-group">
							<label asp-for=BasicInfoForm!.LastName></label>
							@if (Model.BasicInfoForm!.IsExternalAccount)
							{
								<input asp-for="BasicInfoForm!.LastName" disabled />
							}
							else
							{
								<input asp-for="BasicInfoForm!.LastName" />
								<span asp-validation-for="BasicInfoForm!.LastName"></span>
							}
						</div>

						<div id="form-email" class="input-group">
							<label asp-for=BasicInfoForm!.Email></label>
							@if (Model.BasicInfoForm!.IsExternalAccount)
							{
								<input asp-for="BasicInfoForm!.Email" disabled />
							}
							else
							{
								<input asp-for="BasicInfoForm!.Email" />
								<span asp-validation-for="BasicInfoForm!.Email"></span>
							}
						</div>

						<div id="form-phone" class="input-group">
							<label asp-for=BasicInfoForm!.PhoneNumber></label>
							<span asp-validation-for="BasicInfoForm!.PhoneNumber"></span>
							<input asp-for="BasicInfoForm!.PhoneNumber" />
						</div>

						<div id="form-bio" class="input-group">
							<label asp-for=BasicInfoForm!.Biography>Bio <span>(optional</span></label>
							<textarea asp-for="BasicInfoForm!.Biography"></textarea>	
							<span asp-validation-for="BasicInfoForm!.Biography"></span>
						</div>

						<div class="form-buttons">
							<button class="btn-gray" type="reset">Cancel</button>
							<button class="btn-theme" type="submit">Save changes</button>
						</div>
					</div>

				</form>
			</section>
			<hr />

			<section class="address-info">
				<form method="post" asp-controller="Account" asp-action="Deets" novalidate>
					<h5>Address</h5>

					<div class="content">

						<div id="form-adressline-1" class="input-group">
							<label asp-for="AddressInfoForm!.AddressLine_1"></label>
							<span asp-validation-for="AddressInfoForm!.AddressLine_1"></span>
							<input asp-for="AddressInfoForm!.AddressLine_1" />
						</div>

						<div id="form-adressline-2" class="input-group">
							<label asp-for="AddressInfoForm!.AddressLine_2">Address line 2<span>(optional)</span></label>
							<span asp-validation-for="AddressInfoForm!.AddressLine_2"></span>
							<input asp-for="AddressInfoForm!.AddressLine_2" />
						</div>

						<div id="form-postalcode" class="input-group">
							<label asp-for="AddressInfoForm!.PostalCode"></label>
							<span asp-validation-for="AddressInfoForm!.PostalCode"></span>
							<input asp-for="AddressInfoForm!.PostalCode" />
						</div>

						<div id="form-city" class="input-group">
							<label asp-for="AddressInfoForm!.City"></label>
							<span asp-validation-for="AddressInfoForm!.City"></span>
							<input asp-for="AddressInfoForm!.City" />
						</div>

						<div class="form-buttons">
							<button class="btn-gray" type="reset">Cancel</button>
							<button class="btn-theme" type="submit">Save changes</button>
						</div>
					</div>


				</form>
			</section>




		</div>


	</section>
</div>

