@* I korta videon gjorde Hans dependency injection här för SignInManager för account knappar osv. 
Titta närmare på det när det finns tid. *@

@model SignInViewModel
@{
	ViewData["Title"] = "Sign In";
}

<section id="signin">
	<div class="container">
		<partial name="~/Views/Shared/_StatusMessage.cshtml" />

		<form method="post" asp-controller="auth" asp-action="SignIn" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>

			@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
			{
				<div class="alerter">
					@ViewData["ErrorMessage"]
				</div>
			}

			<h1>Welcome back!</h1>
			<p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here></a></p>

			<div class="content">

				<div id="form-email" class="input-group">
					<label asp-for="Form.Email"></label>
					<span asp-validation-for="Form.Email"></span>
					<input asp-for="Form.Email" />
				</div>

				<div id="form-password" class="input-group">
					<label asp-for="Form.Password"></label>
					<span asp-validation-for="Form.Password"></span>
					<input asp-for="Form.Password" />
				</div>

				<div id="form-remember" class="checkbox">
					<div class="checkbox-group">
						<input asp-for="Form.RememberMe" />
						<label asp-for="Form.RememberMe"></label>
					</div>
				</div>
				<button id="form-submit" class="btn-theme-s" type="submit">Sign In</button>
				<a id="form-forgot-password" asp-controller="Account" asp-action="Forgot">Forgot your password?</a>
			</div>

			<div class="external-providers">
				<h6>Or Sign in with your social account</h6>
				<div class="providers">
					<div class="btn-group">
						<a class="btn-gray" asp-action="Google" asp-controller="Auth"><i class="fa-brands fa-google"></i> Google</a>
						<a class="btn-gray" asp-action="Facebook" asp-controller="Auth"><i class="fa-brands fa-facebook"></i> Facebook</a>
					</div>
				</div>
			</div>


		</form>
	</div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")
