
@using Silicon1.Views.Components

@inject SignInManager<UserEntity> _signInManager

<header>
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/Silicon-Logotype-Light.svg" alt="Silicon Logo" />"</a>
     
        <div id="menu" class="hide">
            <nav>
                <a class="menu-link" href="#showcase">Overview</a>
                <a class="menu-link" href="#features">Features</a>

                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Courses" asp-action="Index">Courses</a>
                    <a class="menu-link" asp-controller="Account" asp-action="Deets">Account</a>
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="menu-link" asp-controller="Admin" asp-action="Index">Admin</a>
                    }
                }
                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>

            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" />
                <span class="slider round"></span>  
            </label>
            <label>Dark</label>
        </div>

        @* Klura ut hur ändra knapparna från href till asp-controller="Account" asp-action="SignIn" *@
        <div id="account-buttons" class="hide"> 
            @if (_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Auth" asp-action="SignOut" class="btn-theme"><i class="fa-regular fa-right-from-bracket"></i><span>Sign Out</span></a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="SignIn" class="btn-theme"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
                <a asp-controller="Auth" asp-action="SignUp" class="btn-theme"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>

            }
@*             <partial name="~/Views/Components/_Button.cshtml" model='new ButtonViewModel {
                ClassName = "btn-gray",
                Link = "#",
                Icon = "fa-regular fa-right-to-bracket",
                Text = "Sign in" } '/> *@
                     
@*             <partial name="~/Views/Components/_Button.cshtml" model='new ButtonViewModel {
            ClassName = "btn-theme",
            Icon = "fa-regular fa-user",
            Text = "Sign up" } ' /> *@

           </div>

        <div class="btn-mobile" onclick="toggleMenu()">
            <button>
                <i class="fa-solid fa-bars"></i>
            </button>
            <nav id="mobile-menu" class="hide">
                <ul>
                    <li><a href="#">Menu Item 1</a></li>
                    <li><a href="#">Menu Item 2</a></li>
                   
                </ul>
            </nav>
        </div>




    </div>
</header>
