#account-deets {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 150px;
    margin-bottom: 70px;

    aside {
        border-right: 1px solid var(--color-gray-300);
        padding-right: 20px;

        .profile {

            .profile-image {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border-style: solid;
                border-color: var(--color-theme);
                overflow: hidden;

                img {
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                }

                .btn-circle {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translate(50%, 50%);
                    background-color: #ffffff;
                    color: #000000;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    z-index: 2;

                    i {
                        font-size: 14px;
                    }
                }
            }
        }

        .profile-info {
            margin: 20px;
            text-align: left;

            h5 {
                margin-top: 15px;
                margin-bottom: 0;
            }

            p {
                @include text-m;
            }
        }

        nav {
            margin-top: 50px;
            text-align: left;

            a {
                margin: 10px 0;
                text-align: left;
            }

            .btn--theme-s {
                text-align: left;
                justify-content: flex-start;
            }
        }
    }

    .details {
        margin-top: 50px;
        width: 100%;

        .basic-info {

            form {
                padding: 1rem;

                h5 {
                    color: var(--color-theme);
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";

                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-bio {
                        grid-area: bio;

                        span {
                            color: var(--color-gray-500);
                            font-weight: 400;
                        }
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        .address-info {
            margin-top: 30px;

            form {
                padding: 1rem;

                h5 {
                    color: var(--color-theme);
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "addressline_1 addressline_1" "addressline_2 addressline_2" "postalcode city" "buttons buttons";

                    #form-adressline-1 {
                        grid-area: addressline_1;
                    }

                    #form-adressline-2 {
                        grid-area: addressline_2;

                        span {
                            color: var(--color-gray-500);
                            font-weight: 400;
                        }
                    }

                    #form-postalcode {
                        grid-area: postalcode;
                    }

                    #form-city {
                        grid-area: city;
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }
    }
}
