.features {
    background: $gray-100;
    padding: 80px 0;

    .container {
        display: grid;
        justify-content: center;
        text-align: center;

        .tool-features {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr; // Default setting

            @media (min-width: 576px) {
                grid-template-columns: 1fr 1fr; // 2x3 grid on tablets
                width: auto; // Adjust width to fit the view
                gap: 20px; // Add some gap between grid items
            }

            @media (min-width: 992px) {
                grid-template-columns: 1fr 1fr 1fr; // 3x2 grid on large screens
                width: auto; // Adjust width to fit the view
                gap: 20px; // Add some gap between grid items
            }

            .box {
                padding: 20px;
                border: 1px solid $gray-300;
                transition: all 0.15s ease-in-out;

                @include lg {
                    &:nth-child(3n+1) {
                        border-left: 0px solid $gray-300;
                    }

                    &:nth-child(3n) {
                        border-right: 0px solid $gray-300;
                    }
                }

                &:hover {
                    transition: all 0.15s ease-in-out;
                    cursor: pointer;
                    background: $white;
                    @include shadow-m;
                }

                img {
                    padding: 10px;
                    background-color: $gray-100;
                    margin: 20px;
                    border-radius: 8px;
                    max-width: 100%; // Ensure the image doesn't exceed its container width
                }

                h5 {
                    @include h5;
                }

                p {
                    @include text-m;
                }
            }
        }
    }
}
