#signin {
    //  height: 100%;
    margin-top: 30px;

    .container {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 40%;
        }

        form {
            padding: 1rem;

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: "email" "password" "remember" "button" "forgot";

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-forgot-remember {
                    grid-area: remember;
                    padding: 1rem 0;
                }

                #form-button {
                    grid-area: button;
                }

                #form-forgot-password {
                    grid-area: forgot;
                    margin: 1rem 0 0 0;
                    text-align: center;
                }
            }
        }
    }

    .external-providers {
        text-align: center;
        margin-top: 20px;

        h6 {
            margin-bottom: 10px;
        }

        .providers {
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn-theme-s {
                margin-top: 10px; 
            }

            .btn-group {
                display: flex;
                justify-content: center;
                gap: 10px; 
            }
        }
    }
}
