@{
	ViewData["Title"] = "Page not allowed";
}

<section class="error-404">
	<div class="container">
		<div class="content">
			@* <img src="~/images/404.vg" /> *@
			<h1>Oops!</h1>
			<p>The page was not allowed.</p>
			<nav>
				<a class="btn--theme-s" asp-action="Index" asp-controller="Home"><i class="fa-regular fa-home"></i></a>
			</nav>
		</div>
	</div>
</section>