@model HomeIndexViewModel

@await Html.PartialAsync("~/Views/Home/Sections/_ShowcasePartial.cshtml", Model.ShowCase)


<section id="features">
    @await Html.PartialAsync("~/Views/Home/Sections/_FeaturePartial.cshtml")
</section> 

<section id="switch">
    @await Html.PartialAsync("~/Views/Home/Sections/_SwitchPartial.cshtml")
</section>
