<section class="features">
	<div class="container">
		<h1>What Do You Get With Our Tool?</h1>
		<p>Make sure all your tasks are organized so you can set the priorites and focus on important.</p>
		<div class="tool-features">
			<div class="box">
				<img src="~/images/chat.svg" alt="A chat icon" />
				<h5>Comments on Tasks</h5>
				<p>Id mollis consecttetur conque egestas suspendisse blandit justo.</p>
			</div>
			<div class="box">
				<img src="~/images/presentation.svg" alt="A presentation icon" />
				<h5>Tasks Analytics</h5>
				<p>Non imperdiet facilisis nulla tellus Morbo sclereique eget adipiscing vulputate.</p>
			</div>
			<div class="box">
				<img src="~/images/add-group.svg" alt="A group icon" />
				<h5>Multiple Assignees</h5>
				<p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
			</div>
			<div class="box">
				<img src="~/images/bell.svg" alt="A bell icon" />
				<h5>Notifictions</h5>
				<p>Diam, suspendisse velit cras ac. Lobortis diam volupat, eget pellentesque viverra.</p>
			</div>
			<div class="box">
				<img src="~/images/tests.svg" alt="A test icon" />
				<h5>Sections & Subtasks</h5>
				<p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
			</div>
			<div class="box">
				<img src="~/images/shield.svg" alt="A shield icon" />
				<h5>Data Security</h5>
				<p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
			</div>


		</div>
	</div>


</section>