<section class="manager-work">
	<div class="container">
		<img src="~/images/manage.svg" alt="" />
		<dív class="content">
			<h1>Manage your work</h1>
			<ul>
				<li><i class="fa-regular fa-cirle-check"></i>Powerful project management</li>
				<li><i class="fa-regular fa-cirle-check"></i>Transparent work manangement</li>
				<li><i class="fa-regular fa-cirle-check"></i>Manager work & and focus on the most important tasks</li>
				<li><i class="fa-regular fa-cirle-check"></i>Track your progress with interactive charts</li>
				<li><i class="fa-regular fa-cirle-check"></i>Easiest way to track time spent on tasks</li>
			</ul>
			<a class="btn btn-theme" asp-action="ManageWork" asp-controller="Products">Learn more <i class="fa regular fa-arrow-right"></i></a>
		</dív>
	</div>
</section>