<section class="switch">
    <div class="container">
        <div class="content">
            <div class="box-left">
                <h5>Switch Between</h5>
            </div>
            <div class="box-right">
                <h5>Light & Dark Mode</h5>
            </div>
        </div>
        <div class="content">
            <div class="box-image">
                <img src="~/images/mockup.svg" alt="Black MacBook Pro" />
            </div>
        </div>
    </div>
</section>
